jupyter

# possibly only need these for making dfs
requests
bs4
lxml  # needed for beautiful soup -> df
googlemaps

# for eda
matplotlib

# min reqs
streamlit
Pillow==9.0.1  # need this version for streamlit
folium
streamlit-folium
pandas
json
